body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: white;
  color: white;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

textarea:focus, input:focus{
    outline: none;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
}

hr {
  border-style: none;
  border-bottom: 2px solid;
  border-color: inherit;
}

#section-a, #section-b, #section-c {
  transition: 4s all ease-in-out;
  padding: 2%;
}

#section-a {
  padding-top: 5%;
  max-width: 95%;
}

#section-b {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  font-size: 5vmin;
  font-weight: 100;
}

.header {
  font-size: 3vmin;
  font-weight: 700;
  padding-top: 10px;
}

.stat {
  font-size: 6vmin;
}

.desc {
  font-size: 6vmin;
  font-weight: 400;
}

#content-task {
  height: 80%;
  font-weight: 700;
  font-family: 'Roboto Mono', sans-serif;
  outline: none;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  background: none;
  border: none;
  width: 100%;
  transition: 4s color ease-in-out;
}

textarea {
  resize: none;
}

#content-task::placeholder {
  color: #FFFFFF;
}

#content-session {
  cursor: pointer;
}

p, h1, h2, h3, h4, div, ul, li, a {
  padding: 0;
  margin: 0;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

.grid-height-50 {
  height: 50%;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-60 {
  width: 60%;
}

.col-75 {
  width: 75%;
}

.timer-btn {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  margin: 0px 20px 0px 20px;
  border: 2px solid white;
  border-radius: 20px;
  border-bottom-width: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out border-bottom-width;
}

.text-center {
  text-align: center;
}

#alarm {
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1;
  color: black;
  font-size: 300px;
  text-align: center;
  display: none;
}

.alarm-completion-icon {
  position: relative;
  top: 40%;
  transform: translateY(-50%);
}

#content-length {
  cursor: pointer;
  display: inline-block;
}

.no-select {
  user-select: none;
}

#section-a-container {
  background-color: white;
  transition: 4s all ease-in-out;
}

*:focus {
    outline: none;
}

#action-buttons {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3vmin;
  color: white;
  cursor: pointer;
  transition: 4s color ease-in-out;
  text-align: right;
}

#action-buttons i:hover {
  opacity: 0.5;
}

#action-tip {
  font-size: 1.25vmin;
  padding-top: 10px;
}

#color-picker {
  position: absolute;
  left: -200px;
}

#footer {
  position: fixed;
  height: 25px;
  bottom: 0px;
  left: 0px;
  right: 15px;
  margin-bottom: 0px;
  text-align: right;
  font-size: 1.2vmin;
  transition: 4s all ease-in-out;
}

#activity-log-container {
  position: absolute;
  width: 100%;
  z-index: 2;
  text-align: center;
  display: none;
  transition: 4s all ease-in-out;
}

#activity-log-panel {
  transition: 4s border ease-in-out;
  border-top: 2px solid white;
  margin: 0 auto;
}

#activity-log-container .title {
  margin-top: 50px;
  margin-bottom: 20px;
}

#content-log {
  text-align: left;
  padding: 10px 0px 10px 10px;
}

table {
  width: 100%;
  padding-top: 10px;
  text-align: left;
}

#hide-activity-log-button {
  position: absolute;
  right: 12.5%;
  top: 40px;
  font-size: 20px;
  cursor: pointer;
}

th {
  font-weight: 100;
  font-size: 3vmin;
}

td {
  font-size: 2vmin;
  vertical-align: top;
}

#log-header-date {
  width: 24%;
}

#log-header-length, #log-header-interrupts, #log-header-focus {
  width: 8%;
}

#log-header-task {
  width: 62%;
}

.x-axis text, .x-axis path, .x-axis line, .y-axis text, .y-axis path, .y-axis line {
  stroke: #FFFFFF;
}
.grid line {
  stroke: #FFFFFF;
  stroke-opacity: 0.2;
}
.grid path {
  stroke: #FFFFFF;
  stroke-opacity: 0.2;
  stroke-width: 1;
}
.line {
  fill: none;
  stroke: #FFFFFF;
  stroke-width: 1;
}
.dot {
  fill: #FFFFFF;
  stroke: #7B1FA2;
  stroke-width: 4;
}