body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: white;
  padding: 75px;
  font-size: 4em;
  font-weight: 200;
  color: white;
  transition: 4s ease-in-out background-color;
}

p, h1, h2, h3, h4, div, ul, li, a {
  padding: 0;
  margin: 0;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex-grid-thirds, .flex-grid-halves {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid-halves .col {
  width: 50%;
}

#timer {
  font-size: 4em;
  text-align: center;
}

#buttons {
  text-align: center;
}

.timer-btn {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  margin: 0px 20px 0px 20px;
  border: 2px solid white;
  border-radius: 20px;
  border-bottom-width: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out border-bottom-width;
}