body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: white;
  color: white;
  margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
}

hr {
  border-style: none;
  border-bottom: 2px solid;
  border-color: inherit;
}

#section-a, #section-b, #section-c {
  transition: 4s all ease-in-out;
  padding: 2%;
}

#section-a {
  padding-top: 5%;
}

#section-b {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title {
  font-size: 5vmin;
  font-weight: 100;
}

.header {
  font-size: 4vmin;
  font-weight: 700;
  padding-top: 10px;
}

.stat {
  font-size: 12vmin;
  text-align: center;
}

.desc {
  font-size: 6vmin;
  font-weight: 400;
}

.jumbo {
  font-size: 8vmin;
  font-weight: 700;
  outline: none;
}

#toggle, #content-session, #content-interrupts {
  cursor: pointer;
}


p, h1, h2, h3, h4, div, ul, li, a {
  padding: 0;
  margin: 0;
}

.bg-color-primary {
  background-color:#0d47a1;
}

.bg-color-primary-light {
  background-color:#5472d3;
}

.bg-color-primary-dark {
  background-color:#002171;
}

.bg-color-secondary {
  background-color:;
}


.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

.grid-height-50 {
  height: 50%;
}

.flex-grid-thirds, .flex-grid-halves {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid-halves .col {
  width: 50%;
}

.timer-btn {
  display: inline-block;
  padding: 20px 40px 20px 40px;
  margin: 0px 20px 0px 20px;
  border: 2px solid white;
  border-radius: 20px;
  border-bottom-width: 10px;
  cursor: pointer;
  transition: 300ms ease-in-out border-bottom-width;
}

.text-center {
  text-align: center;
}