body {
  font-family: 'Raleway', sans-serif;
  background-color: #1F3A93;
  padding: 75px;
  font-size: 5em;
  font-weight: 200;
  color: white;
}

p, h1, h2, h3, h4, div, ul, li, a {
  padding: 0;
  margin: 0;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.flex-grid-thirds, .flex-grid-halves {
  display: flex;
  justify-content: space-between;
}

.flex-grid-thirds .col {
  width: 32%;
}

.flex-grid-halves .col {
  width: 50%;
}